.title {
  font-weight: 800;
}
.main-btn:hover {
  background-color: rgb(153, 8, 8);
  color: blue;
}
.h-btn {
  border: none;
  background: none;
  font-size: 1.3em;
}
.banner {
  background-image: url(https://cdn.mos.cms.futurecdn.net/GJ98stg6BUV9SraDkDstbJ.jpg);
  background-size: cover;
  background-position: center;
}

.banner-form {
  border: 1px solid rgb(75, 176, 243);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.171);
  margin: 20% 0;
}
.banner-input {
  width: 75%;
  border: none;
  outline: none;
  padding-left: 10px;
  background: none;
  color: aliceblue;
}
.banner-btn {
  width: 25%;
  border: none;
  border-left: 1px solid rgb(75, 176, 243);
  border-radius: 15px;
  outline: none;
  background: none;
  color: white;
}
.connect-h1 {
  background-color: rgb(58, 29, 9);
}
i:hover {
  color: black;
  background-color: white;
}
.pr-img,
.up-img {
  height: 150px;
  width: 150px;
}
.product {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buy-btn {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: rgb(247, 130, 109);
}
.buy-btn:hover {
  background-color: rgb(112, 112, 247);
}
.reviews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
.subscribe {
  background-color: rgba(0, 255, 0, 0.151);
}
.sub-input {
  width: 350px;
  margin: 10px;
  padding: 3px 10px;
  text-align: center;
}
.sub-button {
  width: 100px;
  height: 30px;
  margin: 5px;
  background-color: rgb(134, 89, 5);
  color: white;
  border: none;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  background-color: rgba(185, 180, 180, 0.267);
}
.footer h4 {
  border-bottom: 2px solid black;
}
.single-img {
  width: 300px;
  height: 300px;
}
.s-btn {
  width: 150px;
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
  background-color: tomato;
  color: white;
}
.form {
  width: 50%;
  background-color: rgba(216, 191, 216, 0.336);
  margin: auto;
  text-align: center;
  padding: 5%;
}
.form input {
  background: none;
  margin: 10px;
  width: 250px;
  outline: none;
  border: 1px solid grey;
}
.logreg {
  background: none;
  margin: 10px;
  width: 250px;
  outline: none;
  border: 1px solid grey;
}
.style {
  text-decoration: none;
}
.pay-img {
  width: 200px;
  height: 200px;
}
.s-btn:hover {
  background-color: green;
}
.cancel {
  width: 120px;
  border: none;
  margin-left: 10px;
  background-color: red;
  color: white;
}
.status1 {
  color: red;
}
.status2 {
  color: green;
}
.remove {
  border: none;
  width: 90px;
  background-color: red;
  color: aliceblue;
}
.addinput {
  margin-bottom: 10px;
  width: 75%;
  background-color: rgba(0, 255, 255, 0.425);
  border: none;
  padding: 5px;
  outline: none;
}
.all {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.allpd {
  height: 400px;
}
.pending {
  width: 45%;
  border: none;
  background-color: yellow;
  margin-right: 5px;
}
.approved {
  width: 45%;
  border: none;
  background-color: green;
  margin-right: 5px;
}
.delate {
  width: 45%;
  border: none;
  background-color: red;
  margin-left: 5px;
}
.rev {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  text-align: center;
}
.rev-main {
  min-height: 300px;
  border: 1px solid gray;
  padding: 5px;
}
.revdelate {
  border: none;
  background-color: red;
  color: white;
}
.admin-btn {
  width: 100px;
  margin-top: 5px;
  border: none;
  background-color: blue;
  color: white;
  padding: 2px 5px;
}
.admin-input {
  width: 300px;
  background-color: rgba(128, 128, 128, 0.356);
  border: 1px solid black;
  padding: 3px 5px;
}
